
/* 탑바 */
.top-bar {
    background: linear-gradient(90deg, #f7f7f7 0%, #9fc5df 62%, #82add0 100%);
    display: flex;
    /* 패딩값 임의 지정 */
    padding: 20px 40px;
    justify-content: space-between;
}
/* 탑바 좌측 로고 */
.menu01 {
    /* border: 1px solid red; */
    display: flex;
}

.logo-img {
  width:  200px;
  height: auto;
}

/* 탑바 메뉴 리스트 */
.m01-item {
    /* border: 1px solid orange;    */
    display: flex;
    position: relative;
}

.mn-li-ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.mn-li-li {
    font-size: 16px;
    font-weight: 600;
}



/* --- 2차 메뉴 박스 --- */
.m02-item {
    height: 0;
    /* overflow: hidden; */
    position: absolute;
    top: 100%; bottom: 0; left: 0; right: 0;
    
}

/* 오답 코드 */
/* .md-menu01-box:hover> .menu02-box {
    height: 500px;
    background-color: white;
} */

/* 정답 코드 */

.m01-item:hover > a {
text-decoration: underline;
}

.m02-item:hover>a {
    color: blue;
    text-decoration: underline;
}

.m02-item:hover > .mn03-nav {
    display: flex;
}

/* 탑바 우측 메뉴 */
.rt-menu-box {
    /* border: 1px solid green; */
    display: flex;
    gap: 12px;
    align-items: center;
}
.user-item01 { 
    font-size: 20px;
    font-weight: 700;
}
.user-item02 {
    font-size: 14px; font-weight: 700;
    color: #333;
    border: 1.5px solid #333;
    border-radius: 20px;
    padding: 6px 10px;
    transition: 0.3s;
}
.user-item02:hover {
    font-size: 14px; font-weight: 700;
    background-color: #d8cdd8;
    color: #333;
    border-radius: 20px;
    border: 1.5px solid #333;
    padding: 6px 10px;
}

.mn-menu-item {
    font-size: 14px;
    font-weight: 500;
}

.menu-svg {
    width:  14px;
    height: 20px;
}